// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// colors
$primaryColor: #3f5865;
$brightGreen: #35ff4d;
$pinkRed: #ff3079;
$lightBlue: #62b4ff;
$lightGrey: #bbbbc9;
$whiteColor: #fff;

// Screen sizes

$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 992px,
  xl: 1320px,
);

$container-max-widths: (
  sm: 604px,
  md: 720px,
  lg: 960px,
  xl: 1260px,
);

// Z-index values as per https://confluence.verivox.ads/display/TUX/Z-Index+Definition
$zIndexOverlay: 900;
